<legend><h2>Sign up</h2></legend>
<fieldset>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: "form-horizontal"}) do |f| %>
  <%= devise_error_messages! %>
	
	<%= f.input :first_name, input_html: {class: "form-control"},label_html: {class: "control-label"} %>
	<%= f.input :last_name, input_html: {class: "form-control"},label_html: {class: "control-label"} %>
	<%= f.input :profile_name, input_html: {class: "form-control"},label_html: {class: "control-label"} %>
	<%= f.input :email, placeholder: 'usuario@dominio.com', input_html: {class: "form-control"},label_html: {class: "control-label"} %>
	<%= f.input :password, input_html: {class: "form-control"},label_html: {class: "control-label"} %>
	<%= f.input :password_confirmation, input_html: {class: "form-control"},label_html: {class: "control-label"} %>


  <div class="actions"><%= f.submit "Sign up", class: "btn btn-default" %></div>
<% end %>

<%= render "devise/shared/links" %>
</fieldset>